

body{
    scroll-behavior: smooth;
    margin: 0;
    background-image: url(./u1.jpg);
    color: white;
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}
#bgimg {
    z-index: -30;
    position: fixed;
}#bgimgimg
    {
        max-height: 1752px;
        top: -592px;
        position: relative;
    }

img{
    width: inherit;
}
#is_fwd{
    position: relative;
    right: 2vw;
}
#is_fwd:hover{
    color: rgb(153, 102, 204);
   
}#is_back{
    position: relative;
    left: 2vw;
}
#is_back:hover{
    color: rgb(153, 102, 204);
   
}
.introSlidesContainer{
    overflow-x: hidden;
    width: 100vw;

    display: flex;
    position: relative;
    
}
.introSlides{
    position: relative;
    display: flex;
    right: 0vw;
    transition-duration: 1.5s;
    transition-delay: 0s;
}
.introSlide{
    width: 100vw;
}
.introSlidesNav{
    justify-content: space-between;
    color: antiquewhite;
    font-size: 100px;
position: absolute;
z-index: 2;
width: inherit;
top:0%;
display: flex;
height: 100%;

align-items: center;
}#musicSection_r1{
    position: relative;
    left: calc(-100vw + 11.5vw);
}
#u24_img {
    z-index: 14;
    border-width: 0px;
    position: absolute;
    height: 4.5vh;
}
.mss{    display: flex;
    justify-content: space-between;
margin-inline-end: 11.5vw;}
#bottomBarSpace{
    bottom: 0;
}
.tbSpace{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tbSpace, #bottomBarSpace{
    height: 10vh;
    position: fixed;
    z-index: 10;
    font-size: 210px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.318);/*rgba(95, 0, 49, 0.6)*/
}

#aboutSection{
    background-color: #d6076f0b
}
#musicSection{
    overflow: hidden;
    background-color: rgba(17, 177, 36, 0.129);
}#productionSection{
    background-color: rgba(198, 250, 10, 0.129);
}#contactBlk1_tb{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}#contact_tb{top: 60px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.contactBlk1_input{
    width: 100%;
    height: 15%;
}.contactBlk2_input{
    width: 100%;
    height: 75%;
}
.bar{
    width: min-content;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    top:0;
    padding-block: calc((10vh - 20px)/2);
}
.barInner:hover{
    color: rgb(153, 102, 204);
}
.barInner{
    font-weight: 700;
    position: relative;
    right: -17.5%;
    width: fit-content;
    font-size: 15.625px;
}

#aboutBar{
 
    left: 22.5vw;
    z-index: 10;
}
#aboutBarInner{

    z-index: 11;
    
}
.Blk_tb{
    background-color: rgba(95, 0, 49, 0.6039215686274509);
    width: 25vw;
    height: 25vw;
    padding: 1.5vw;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
overflow: hidden;
font-size: 16px;
}

#musicBlk2{
    margin-inline: 1vw;
}
#aboutBlk2{
    position: relative;

}
.blk_img{
    position: relative;
    top: 60px;
    width: 25vw;
    height: 25vw;
}
.Section_r{
    display: flex;
    justify-content: space-between;
    padding-inline: 11.5vw;
    padding-block-start: 4vh;
}
#musicBar{
   
    left: 32.5vw;
    z-index: 10;
}
#musicBarInner{
   
    z-index: 11;
    
}#productionBar{
    
    left: 62.5vw;
    z-index: 10;
}
#productionBarInner{
   
    z-index: 11;
    
}#contactBar{
    
    left: 72.5vw;
    z-index: 10;
}
#contactBarInner{
    
   
    z-index: 11;
    
}#socialsBar{
    padding-block: calc((10vh - 25px)/2);
    pointer-events: none; 
    width: min-content;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    top:0;

    z-index: 10;
}
#socialsBarInner{
    pointer-events: none; 
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    font-size: 25px;
    z-index: 11;
    
}

.productionSongbuilder{
    background-color: rgba(95, 0, 49, 0.6039215686274509);
    width: 70vw;
    height: fit-content;
    font-style: italic;
    padding: 2.5vw;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
overflow: hidden;
}
#musicBlk2_tb{
    position: relative;
    top: 60px;
}
#bottomSocials{
    display: flex;
    z-index: 15;
    position: sticky;
    position: -webkit-sticky;
    justify-content: space-between;
    width: 100%;
    
}#bottomSocials_l{
    padding-inline:2vw ;
    display: flex;justify-content: space-between;
    }#bottomSocials_r{
        padding-inline:2vw ;
        
        display: flex;justify-content: space-between;
        }
    #u13_img, #u12_img,#u11_img,  #u14_img {

            width: 25px;padding-inline: 1vw;
            height: 25px;
        }
        .sbSingleRow{
            display: flex;
            width: 100%;
            position: relative;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .sbRowPart{
            width: 25%;
            min-width: 90px
        }
        .sbtopInput{width: min-content;}
        .sbtopInput,.sbPartSelector{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #555;
            color: inherit;
            font: inherit;
            text-overflow: ellipsis;
        }
        .sbPartSelector{
            width: 100%;

        }
        .sbTopPart{display: flex;}
        .sbStopKey{position: relative;
        }.sbtopPlayBtn,.sbtopInput,.sbStopKey,.sbtopBpm{
            width: 33%;
    text-align: center;
    border-bottom: 1px solid #555;

        }
        .sbtopInput{
            width: 100%;
    text-align: center;
    border: none;
        }
/* width */
::-webkit-scrollbar {
   width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0)
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
